section.todo h1 {
	color: pink;
	font-size: 5rem;
	text-align: center;
	margin-bottom: 30px;
	padding: 5px;
}

section.todo a {
	text-decoration: none;
	margin: 0;
	color: rgb(134, 79, 79);
	padding: 5px 8px;
	border-radius: 5px;
	
	&:hover, &.selected {
		background-color: rgba(249, 208, 250, 0.5);
	}

	&:active {
		background-color: darken($color: rgba(249, 208, 250, 0.5), $amount: 10%);
	}
}

section.todo li {
	display: inline-block;
	margin: 0;
	padding: 10px;
}

section.todo input {
	width: 100%;
	border: 2px solid grey;
	background: none;
	border-radius: 2px;
	font-size: inherit;
	color:inherit;
	font-family: inherit;
	margin: 0;
	padding: 10px;

	&::placeholder {
		font-style: normal;
		font-size: inherit;
		color:inherit;
		opacity: .3;
	}
}

section.todo .main  {
	width: 100%;

	& li {
		width: 100%;
		background: rgba(249, 208, 250, 0.5);
		border-radius: 2px;
		margin: 0;
		padding: 10px;
		font-size: inherit;
		color:inherit;
		display: flex;
		align-items: center;

		
		& label {
			font-size: inherit;
			color: inherit;
			margin: 0;
			padding: 2px;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			opacity: .8;

			&.completed {
				color: grey;
				opacity: .5;
				text-decoration: line-through; 
			}
		}

		& input[type="checkbox"] {
			width: auto;
			margin: 0 10px 0 0;
			padding: 2px;
			border-radius: 100%;
		}
	}
}

section.todo footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	& p {
		padding: 0 10px;
	}

	& li {
		display: inline-block;
		padding: 0 10px;
	}
}